body {
  color: #1D1D1D;
  background-color: #FFFFFF;
  margin: 0 0 75px 0;
  overflow-y: scroll;
}

body, select, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

::-moz-selection {
    background: #CCCCCC;
}

::selection {
    background: #CCCCCC;
}

h1, h2 {
  display: inline;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

a {
  color: #0078D7; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

#container {
  width: 900px;
  margin: auto;
}

hr {
  background-color: #7D7D7D;
  border: 0;
  height: 1px;
}

#formula {
  line-height: 28px;
  font-size: 16px;
}

#truthtable {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 15px;
}

#truthtable td.firstcolumn {
  border-right: 1px solid #7D7D7D;
  padding: 6px 4px;
  width: 15px;
}

#truthtable td {
  padding: 3px;
  cursor: default;
}

#truthtable td.phi {
  border-top: 2px solid #7D7D7D;
}

table.clauses {
  margin: 15px 0;
}
table.clauses td {
  width: 32px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #969696;
  cursor: default;
}

table.clauses td.clause,
table.clauses td.clear {
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#hint {
  display: none;
  width: 900px;
  height: 50px;  
  position: fixed;
  bottom: 0px;
  line-height: 50px;
  background-color: #e2e2e2;
  border-top: 1px solid #969696;
  padding-left: 20px;
  box-sizing: border-box;  
}

#select-n {
  padding: 0 5px;
}

button {
  padding: 5px 10px;
  width: 100px;
  border: 1px solid #969696;
  background-color: white;
  outline: none;
}

button:hover {
  background-color: #D7D7D7;
}

#top {
  margin: 15px 0;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#clauses {
  flex-shrink: 0;
}

@media (width: 550px) {
  #container, #hint {
    width: 550px;
  }
  #top {
    margin: 25px;
  }
  #help, #main {
    margin-left: 15px;
    margin-right: 15px;
  }
  button {
    font-size: 20px;
  }
  #help, #formula {
    font-size: 14px;
  }
  h1 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }
  table.clauses td {
    width: 46px;
    height: 24px;
  }
}
